[core]
    editor = nvim.appimage
    pager = delta

[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    solve = mergetools -t kiff3
    patch = !"git ci -am 'f' & git rebase HEAD~2"
    reb = !"git co master && git pull && git co - && git rebase master"

[user]
	email = marek.piskorek@nextmatter.com
	name = Marek Piskorek

[push]
	default = simple

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
