[core]
  editor = /home/marek.piskorek/bin/nvim.appimage
  pager = delta

[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    patch = !"git ci -am 'f' & git rebase HEAD~2"
    reb = !"git co $GIT_DEFAULT_BRANCH && git pull && git co - && git rebase $GIT_DEFAULT_BRANCH"

[user]
  email = marek.piskorek@pm.me
	name = Marek Piskorek

[push]
	default = simple

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections

[diff]
	colorMoved = default

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[safe]
	directory = /home/marek.piskorek/codes/codility
	directory = ../
